body {
    background-color: khaki;
    font-family: Helvetica, sans-serif;
}

#arrow {
    width: 45px;
    height: auto;
}

h1 {
    text-align: center;
}

#card {
    padding: 10px;
    text-align: left;
    background-color: #fff;
    width: 700px;
    height: auto;
    margin: 0 auto;
}

img {
    display: block;
    margin: 5px auto;
}

.list-style {
    list-style-type: disc;
}

#card-2 {
    padding: 8px;
    background-color: lemonchiffon;
}

ul {
    list-style-type: none;
}

li {
    font-size: 20px;
}

a {
    color: peru;
}